/* MODAL */
div.modal {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, .8);
    z-index:1000;
    transition:all .5s;
    overflow:auto;
    padding:20px 0;
}

div.modal div.close {
    position:absolute;
    text-transform:uppercase;
    top:20px;
    right:20px;
    font-weight:bold;
    color:#282828;
    display:block;
    z-index:99;
}

div.modal div.close:hover {
    opacity:.6;
    cursor:pointer;
}

div.modal div.container-modal {
    box-shadow:0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    background:white;
    padding:30px;
    transform:translateY(1000px);
    transition:all .8s cubic-bezier(.3, 1.1, .2, 1.2);
    margin:0 auto;
}

div.modal div.container-register {
    width:500px;
}

div.modal div.container-register div.container-logo {
    margin:0;
    text-align:center;
    margin-bottom:20px;
    width:100%;
}

/* FORM */
form div.form-group:not(:last-child) {
    margin-bottom:20px;
}

label.control-label {
    display:block;
    font-weight:bold;
    margin-bottom:8px;
}

input.form-control {
    width:100%;
    padding:8px 10px;
    font-size:16px;
}

button.btn-submit {
    width:100%;
    display:block;
    background:#2ec282;
    border:none;
    padding:10px 0;
    font-size:18px;
    cursor:pointer;
    color:white;
    transition:all .5s;
}

button.btn-submit:hover {
    background:#099087;
}

button.btn-submit:active {
    background:#06605a;
}

.link-login {
    text-align:center;
    color:blue;
    margin:0;
    margin-top:5px;
    text-decoration:none;
    width:100%;
    display:block;
    font-weight:bold;
}

canvas.captcha {
    width:100%;
    /*height:80px;*/
    background:#ccc;
    position:relative;
    top:4px;
}

/*RESET MODAL*/
div.modal {
    opacity:0;
    z-index:-99;
}

div.modal.active {
    opacity:1;
    z-index:1000;
}

div.modal.active div.container-modal {
    transform:translateY(0);
}

/*SHAKING ANIMATION =*/
@keyframes shake-hard {
    2% {
        transform: translate(8px, -5px) rotate(-2.5deg); }
    4% {
        transform: translate(3px, 0px) rotate(2.5deg); }
    6% {
        transform: translate(3px, -4px) rotate(-0.5deg); }
    8% {
        transform: translate(-8px, 3px) rotate(-0.5deg); }
    10% {
        transform: translate(8px, -9px) rotate(-2.5deg); }
    12% {
        transform: translate(-1px, -7px) rotate(0.5deg); }
    14% {
        transform: translate(-5px, -5px) rotate(0.5deg); }
    16% {
        transform: translate(1px, 1px) rotate(-0.5deg); }
    18% {
        transform: translate(-1px, -2px) rotate(-1.5deg); }
    20% {
        transform: translate(5px, 9px) rotate(1.5deg); }
    22% {
        transform: translate(-8px, 0px) rotate(-2.5deg); }
    24% {
        transform: translate(1px, -6px) rotate(-1.5deg); }
    26% {
        transform: translate(10px, 5px) rotate(3.5deg); }
    28% {
        transform: translate(-2px, 4px) rotate(-2.5deg); }
    30% {
        transform: translate(7px, 0px) rotate(0.5deg); }
    32% {
        transform: translate(-9px, 8px) rotate(-1.5deg); }
    34% {
        transform: translate(5px, -1px) rotate(1.5deg); }
    36% {
        transform: translate(4px, -1px) rotate(2.5deg); }
    38% {
        transform: translate(3px, 2px) rotate(-2.5deg); }
    40% {
        transform: translate(8px, 9px) rotate(-2.5deg); }
    42% {
        transform: translate(7px, -2px) rotate(2.5deg); }
    44% {
        transform: translate(2px, -5px) rotate(0.5deg); }
    46% {
        transform: translate(6px, -7px) rotate(2.5deg); }
    48% {
        transform: translate(-1px, 10px) rotate(2.5deg); }
    50% {
        transform: translate(4px, 2px) rotate(3.5deg); }
    52% {
        transform: translate(4px, 10px) rotate(-2.5deg); }
    54% {
        transform: translate(-8px, 3px) rotate(1.5deg); }
    56% {
        transform: translate(-7px, 5px) rotate(0.5deg); }
    58% {
        transform: translate(10px, 4px) rotate(2.5deg); }
    60% {
        transform: translate(-1px, 1px) rotate(-0.5deg); }
    62% {
        transform: translate(7px, 5px) rotate(0.5deg); }
    64% {
        transform: translate(5px, 5px) rotate(-1.5deg); }
    66% {
        transform: translate(9px, 1px) rotate(3.5deg); }
    68% {
        transform: translate(-7px, -1px) rotate(-1.5deg); }
    70% {
        transform: translate(-5px, 6px) rotate(-2.5deg); }
    72% {
        transform: translate(9px, 5px) rotate(-2.5deg); }
    74% {
        transform: translate(10px, -5px) rotate(-2.5deg); }
    76% {
        transform: translate(7px, 8px) rotate(-2.5deg); }
    78% {
        transform: translate(-2px, 5px) rotate(0.5deg); }
    80% {
        transform: translate(-7px, 8px) rotate(3.5deg); }
    82% {
        transform: translate(4px, -8px) rotate(1.5deg); }
    84% {
        transform: translate(-6px, 10px) rotate(-2.5deg); }
    86% {
        transform: translate(-5px, -5px) rotate(3.5deg); }
    88% {
        transform: translate(0px, -2px) rotate(-0.5deg); }
    90% {
        transform: translate(10px, 10px) rotate(-0.5deg); }
    92% {
        transform: translate(-1px, -6px) rotate(3.5deg); }
    94% {
        transform: translate(-2px, -6px) rotate(-1.5deg); }
    96% {
        transform: translate(-2px, 7px) rotate(3.5deg); }
    98% {
        transform: translate(0px, -1px) rotate(-0.5deg); }
    0%, 100% {
        transform: translate(0, 0) rotate(0); }
}

div.modal .container-modal.error {
    animation:shake-hard 500ms ease-in-out;
    transform-origin:center center;
}
