@media screen and (max-width:767px) {
    div.container-text-join {
        text-align:center;
    }

    div.container-text-join h3.text-join {
        margin-top:0;
        margin-bottom:10px;
    }

    div.container-text-join p.paragraph-join {
        margin-bottom:0;
    }

    div.container-button-join {
        justify-content:center;
    }

    section.banner div.wrapper-slider div.slider div.text-slider h2 {
        font-size:40px;
    }

    section.banner div.wrapper-slider div.slider div.text-slider p {
        font-size:16px;
    }
}


@media screen and (min-width:320px) {
    div.modal div.container-game {
        flex-flow:row wrap;
        width:100%;
    }
}