@media screen and (max-width:1200px) {
    div.container-wrapper-image, div.container-wrapper-image div.front {
        height:300px;
    }

    section.gallery div.row > div > div.container-wrapper-image:last-child {
        margin-bottom:0;
    }
}

@media screen and (min-width:993px) {
	div.navbar {
		display:none;
	}
}