@media screen and (max-width:1200px) {
    div.container-wrapper-image, div.container-wrapper-image div.front {
        height:300px;
    }

    section.gallery div.row > div > div.container-wrapper-image:last-child {
        margin-bottom:0;
    }

    div.wrapper-navigation div.prev {
        left:0;
        padding-left:60px;
    }
}

@media screen and (min-width:993px) {
	div.navbar {
		display:none;
	}

    div.modal div.container-game {
        width:1100px !important;
    }
}