<div class="row">
<div class="col-lg-4">
<div class="wrapper-image">
<img src="images/image-1.jpg" alt="Image gallery" class="image-gallery">
</div>

<div class="wrapper-image image-4">
<img src="images/dragon-slider.png" alt="Image gallery" class="image-gallery">
</div>
</div>
<div class="col-lg-4">
<div class="wrapper-image image-2 ">
<img src="images/image-2.jpeg" alt="Image gallery" class="image-gallery">
</div>

<div class="wrapper-image">
<img src="images/image-5.jpg" alt="Image gallery" class="image-gallery">
</div>
</div>
<div class="col-lg-4">
<div class="wrapper-image">
<img src="images/image-3.jpeg" alt="Image gallery" class="image-gallery">
</div>

<div class="wrapper-image image-6">
<img src="images/image-6.jpg" alt="Image gallery" class="image-gallery">
</div>
</div>
</div>